<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
      <li>
        <a routerLink="users" [class.activated]="currentUrl == '/users'">
          <i class="material-icons">account_box</i>
        </a>
      </li>
      <li>
        <a routerLink="todos" [class.activated]="currentUrl == '/todos'">
          <i class="material-icons">settings</i>
        </a>
      </li>
      <li>
        <a routerLink="comments" [class.activated]="currentUrl == '/comments'">
          <i class="material-icons">list</i>
        </a>
      </li>
      <li>
        <a routerLink="albums" [class.activated]="currentUrl == '/albums'">
          <i class="material-icons">touch_app</i>
        </a>
      </li>
  </ul>
</nav>